/*Name this external file gallery.css*/

#image{
    line-height: 15em;
	width: 225px;
    height: 169px;
	border:1px dark grey;
	margin:0 auto;
    background-color: #cc3366;
    background-image: url('');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom: 4em
    font-size: 110%;
}
.preview{
		width:15%;
		margin-top: 4%;
		margin-left: 4%;
		margin-bottom: 4%;
    		border: 1px dark grey;
		min-width: 100px;
}
img{
		width: 95%;
}