/*
	Media Queries
	Here is where I change Navigation to vertical,  and stack pictures and events in mobile view
*/
body {
  background-color: #0101DF 
   }
 div{
  font-color: #000000
     }
	 
	 nav{
	 	
	 }
	 
@media screen and (min-width: 720px){
body {
  /*background-color: #0101DF */
   }
  div{
  font-color: #FFFFFF 
     }
   }
   
@media screen and (min-width: 1040px){
body {
  /* background-color: #04B404  */
  } 
  div{
   font-color: #0101DF}
}

nav{
	
}
