/*
	Responsive Nav Bar */
body{
	background-color: #F2F2F2;
	margin: 1%;
	padding:1%;
}



  nav{
    border:1px solid #000000;
    color:#06425C;
    background-color: #9D75CB;
    display: block;
    width: 15%;
    min-width: 110px;
    margin-right:5px;
    height: 100vh;
    float:right;
  }

 
  nav a{
    display:block;
    line-height: 45px;
	  height:45px;
	  color: #FFFFFF;
	  background-color:#9D75CB;
	  text-decoration: none;
	  padding-left:5px;
  }



@media all and (min-width:900px){
  
  body{
    background-color:#AAFFE5;
  }
    
nav{
	border: 1px solid #06425C;
	color:#06425C;
	background-color:#FFFFFF;
	overflow: auto;
	padding-left:8%;
}


nav a{
	box-sizing:border-box;
	display:inline-block;
	line-height: 45px;
	height:60px;
	color: #FFFFFF;
	background-color:#9D75CB;
	text-decoration: none;
	margin:1% 2% 1% 8%;
	padding:1% 2%;
	border-radius: 25px;
}

section{
  display:inline-block;
  width:70%;
  height:100vh;
  overflow:auto;
}

}
