/*Name this external file gallery.css*/

#image{
    line-height: 6em;
	width: 175px;
    height: 225px;
	border:1px dark grey;
	margin:0 auto;
    background-color: #0fface;
    background-image: url('');
    background-repeat: no-repeat;
    color:#FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom: 2em;
    font-size: 110%;
}
.preview{
		width:10%;
		margin-left: 5%;
		margin-bottom: 5%;
    border: 1px dark grey;
}
img{
		width: 95%;
}