/* Let's Do This! 
font-family: 'Playfair Display', serif;  font-family: 'Playfair Display SC', serif;
font-family: 'Merriweather', serif;
font-family: 'Cormorant Garamond', serif;              cool crossed w
font-family: 'Goudy Bookletter 1911', serif;             very close to C G, but a bit softer
font-family: 'Gabriela', serif;
*/
body{
	margin:30px;
	padding:15px;
	background-image: url('../Images/boardwalk sunset.jpg'); 
	background-size: cover;
	opacity: 20%;
}

header {
	padding: 10px;
	background-color: #0fface;
	opacity: 10%;
	background-image: url('../Images/boardwalk sunset.jpg');
	background-size: cover;
	text-align: center;
}	

nav a {
	display: inline-block;
	margin: 5px;
	border-radius: 10px;
	background-color: rgba(153, 153, 204, .5);
	opacity: 10%;
	text-decoration: none;
	padding: 3px;
	width: 18%;
}

h1 {
	color: #000099;
	font-size: 280%; /* 40 PX FULL SCREEN */
	font-family: 'Gabriela', serif;
	 text-shadow: 2px 3px #777777;
	 	 padding: 0px;
}

h2 {
	color: #FFFFFF;
	font-size: 250%; /* 35 PX FULL SCREEN */
	font-family: 'Goudy Bookletter 1911', serif;
	 text-shadow: 3px 3px #777777;
	 padding: 0px;
	}

h3{
	color: #111199;
	font-variant: small-caps;
	font-size: 175%; /* 30 PX FULL SCREEN */
	font-family: 'Merriweather', serif;
	 text-shadow: 2px 3px #777777;
	 padding: 0px;
}

a{
	color: #000099;
	text-align: center;
	font-family: 'Gabriela', serif;
}

.active {
		background-color: #000099;
	color: #9999cc;
}

main{
	display: block;
}

.center{
	text-align: center;
	width: 95%;
	display: block;
	padding: 15px;
	overflow: auto;
}

img.center{
	width: 30%;
	display: block;
	margin-left: auto;
 	margin-right: auto;
	border: solid;
	border-color: #ffffff;
	border-width: 2px;
	border-radius: 10px;
	padding: 0px;
}

.p1{
	color: #FFFFFF;
	font-size: 145%; /* 30 PX FULL SCREEN */
	font-family: 'Merriweather', serif;
	 text-shadow: 2px 3px #777777;
}

.p2{
	color: #eeeeee;
	font-size: 130%; /* 25 PX FULL SCREEN */
		font-family: 'Merriweather', serif;
		 text-shadow: 2px 3px #777777;
}
.p3{
	color: #FFEED6;
	font-variant: italic;
	font-size: 95%; /* 15 PX FULL SCREEN */
	font-family: 'Gabriela', serif;
	 text-shadow: 2px 3px #777777;
}

.quote{
	width: 75%;
	float: right;
	margin-right: 7em;
} 

.gallery{
	margin: 5em;
	
}


footer {
	padding: 10px;
	opacity: 10%;
	text-align: center;
}	

img.logo{
	width: 8%;
	padding: 0px;
	opacity: 100%;
}


